#!/bin/bash
#
# Copyright (C) 2008-2011,
# LingCloud Team,
# Institute of Computing Technology,
# Chinese Academy of Sciences.
# P.O.Box 2704, 100190, Beijing, China.
#
# http://lingcloud.org
#
# Example extension configure file

# LingCloud home directory
lingCloudHome="${LINGCLOUD_HOME_DIR}"

# LingCloud extensions directory
extensionsDir="${LINGCLOUD_HOME_DIR}/extensions"

# Example extension directory
exampleDir="${LINGCLOUD_HOME_DIR}/extensions/example"

# Example extension configure file
exampleConf="${LINGCLOUD_HOME_DIR}/extensions/example/conf/example.conf"
